<%- include("partials/header.ejs") %>

<div class="d-flex justify-content-center m-3">
  <img
    class="img-fluid SCA-logo"
    style="max-width: 200px"
    src="//images.squarespace-cdn.com/content/v1/584f6bbef5e23149e5522201/1585137262099-VOUGJUSB290Z3UZCBAGP/SCA_logo_header.jpg"
    alt="Specialty Coffee Association"
  />
</div>
<!-- sample id input box -->
<div class="container justify-content-center mb-2">
  <div name="sample-id" class="row d-flex align-items-center bg-dark fs-5 text-white p-auto mb-2">
    <div class="d-flex justify-content-center col-2 mx-2 p-2">
      <label for="inputSample" class="col-form-label">SAMPLE NO.</label>
    </div>
    <div class="col-lg-2">
      <input type="text" id="sample_id" name="sample_id" class="form-control" aria-describedby="passwordHelpInline" />
    </div>
  </div>
</div>

<!-- fragrance/aroma form box -->
<div name="fragrance-box" class="container border mb-2">
  <div class="fragrance-container d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-start align-items-center col-lg-2 p-4" name="fragrance">
      <div class="text">
        <p class="fs-1 m-0">Fragrance</p>
        <p class="fs-4 m-0">Intensity</p>
      </div>
    </div>
    <div class="container" name="fragrance-scale">
      <div class="scale-labels d-flex justify-content-around fs-6">
        <label for="customRange3" class="form-label">LOW</label>
        <label for="customRange3" class="form-label">MEDIUM</label>
        <label for="customRange3" class="form-label">HIGH</label>
      </div>
      <input type="range" class="form-range" min="0" max="15" step="1" id="customRange3" />
      <div class="scale-labels d-flex justify-content-between fs-6">
        <label for="customRange3" class="form-label">0</label>
        <label for="customRange3" class="form-label">5</label>
        <label for="customRange3" class="form-label">10</label>
        <label for="customRange3" class="form-label">15</label>
      </div>
    </div>
  </div>
  <div class="aroma-container d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-start align-items-center col-lg-2 p-4" name="fragrance">
      <div class="text">
        <p class="fs-1 m-0">Aroma</p>
        <p class="fs-4 m-0">Intensity</p>
      </div>
    </div>
    <div class="container" name="aroma-scale">
      <div class="scale-labels d-flex justify-content-around fs-6">
        <label for="customRange3" class="form-label">LOW</label>
        <label for="customRange3" class="form-label">MEDIUM</label>
        <label for="customRange3" class="form-label">HIGH</label>
      </div>
      <input type="range" class="form-range" min="0" max="15" step="1" id="customRange3" />
      <div class="scale-labels d-flex justify-content-between fs-6">
        <label for="customRange3" class="form-label">0</label>
        <label for="customRange3" class="form-label">5</label>
        <label for="customRange3" class="form-label">10</label>
        <label for="customRange3" class="form-label">15</label>
      </div>
    </div>
  </div>
  <hr />
  <div name="checkbox-area1" class="container d-flex">
    <div name="checkbox-group1" class="container">
      <p class="m-0 fw-bold">SELECT UP TO FIVE THAT APPLY:</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">FLORAL</label>
      </div>
      <div name="fruity" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">FRUITY</label>
      </div>
      <span>( </span>
      <div name="berry" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">BERRY</label>
      </div>
      <div name="dried-fruit" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">DRIED FRUIT</label>
      </div>
      <div name="citrus-fruit" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">CITRUS FRUIT )</label>
      </div>
      <br />
      <div name="sour-fermented" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SOUR/FERMENTED</label>
      </div>
      <span>( </span>
      <div name="sour" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SOUR</label>
      </div>
      <div name="fermented" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">FERMENTED )</label>
      </div>
      <div name="green-vegetative" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">GREEN/VEGETATIVE</label>
      </div>
    </div>
    <div name="checkbox-group2" class="container">
      <div name="fruity" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">OTHER</label>
      </div>
      <span>( </span>
      <div name="chemical" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">CHEMICAL</label>
      </div>
      <div name="musty-earthy" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">MUSTY/EARTHY</label>
      </div>
      <div name="papery" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">PAPERY )</label>
      </div>
      <div name="roasted" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">ROASTED</label>
      </div>
      <div name="nutty-cocoa" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">NUTTY/COCOA</label>
      </div>
      <span>( </span>
      <div name="nutty" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">NUTTY</label>
      </div>
      <div name="cocoa" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">COCOA )</label>
      </div>
      <div name="spicy" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">SPICY</label>
      </div>
      <div name="sweet" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SWEET</label>
      </div>
      <span>( </span>
      <div name="vanilla" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">VANILLA/VANILLIN</label>
      </div>
      <div name="brown-sugar" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">BROWN SUGAR )</label>
      </div>
    </div>
  </div>
</div>

<!-- Flavor Form box -->
<div name="flavor-box" class="container border mb-2">
  <div class="flavor-container d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-start align-items-center col-lg-2 p-4" name="fragrance">
      <div class="text">
        <p class="fs-1 m-0">Flavor</p>
        <p class="fs-4 m-0">Intensity</p>
      </div>
    </div>
    <div class="container" name="flavor-scale">
      <div class="scale-labels d-flex justify-content-around fs-6">
        <label for="customRange3" class="form-label">LOW</label>
        <label for="customRange3" class="form-label">MEDIUM</label>
        <label for="customRange3" class="form-label">HIGH</label>
      </div>
      <input type="range" class="form-range" min="0" max="15" step="1" id="customRange3" />
      <div class="scale-labels d-flex justify-content-between fs-6">
        <label for="customRange3" class="form-label">0</label>
        <label for="customRange3" class="form-label">5</label>
        <label for="customRange3" class="form-label">10</label>
        <label for="customRange3" class="form-label">15</label>
      </div>
    </div>
  </div>
  <div class="aroma-container d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-start align-items-center col-lg-2 p-4" name="fragrance">
      <div class="text">
        <p class="fs-1 m-0">Aftertaste</p>
        <p class="fs-4 m-0">Intensity</p>
      </div>
    </div>
    <div class="container" name="aftertaste-scale">
      <div class="scale-labels d-flex justify-content-around fs-6">
        <label for="customRange3" class="form-label">LOW</label>
        <label for="customRange3" class="form-label">MEDIUM</label>
        <label for="customRange3" class="form-label">HIGH</label>
      </div>
      <input type="range" class="form-range" min="0" max="15" step="1" id="customRange3" />
      <div class="scale-labels d-flex justify-content-between fs-6">
        <label for="customRange3" class="form-label">0</label>
        <label for="customRange3" class="form-label">5</label>
        <label for="customRange3" class="form-label">10</label>
        <label for="customRange3" class="form-label">15</label>
      </div>
    </div>
  </div>
  <hr />
  <div name="checkbox-area2" class="container d-flex">
    <div name="checkbox-group1" class="container">
      <p class="m-0 fw-bold">SELECT UP TO FIVE THAT APPLY:</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">FLORAL</label>
      </div>
      <div name="fruity" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">FRUITY</label>
      </div>
      <span>( </span>
      <div name="berry" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">BERRY</label>
      </div>
      <div name="dried-fruit" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">DRIED FRUIT</label>
      </div>
      <div name="citrus-fruit" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">CITRUS FRUIT )</label>
      </div>
      <br />
      <div name="sour-fermented" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SOUR/FERMENTED</label>
      </div>
      <span>( </span>
      <div name="sour" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SOUR</label>
      </div>
      <div name="fermented" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">FERMENTED )</label>
      </div>
      <div name="green-vegetative" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">GREEN/VEGETATIVE</label>
      </div>
    </div>
    <div name="checkbox-group2" class="container">
      <div name="fruity" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">OTHER</label>
      </div>
      <span>( </span>
      <div name="chemical" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">CHEMICAL</label>
      </div>
      <div name="musty-earthy" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">MUSTY/EARTHY</label>
      </div>
      <div name="papery" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">PAPERY )</label>
      </div>
      <div name="roasted" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">ROASTED</label>
      </div>
      <div name="nutty-cocoa" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">NUTTY/COCOA</label>
      </div>
      <span>( </span>
      <div name="nutty" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">NUTTY</label>
      </div>
      <div name="cocoa" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">COCOA )</label>
      </div>
      <div name="spicy" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
        <label class="form-check-label" for="defaultCheck1">SPICY</label>
      </div>
      <div name="sweet" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SWEET</label>
      </div>
      <span>( </span>
      <div name="vanilla" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">VANILLA/VANILLIN</label>
      </div>
      <div name="brown-sugar" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">BROWN SUGAR )</label>
      </div>
    </div>
    <div name="checkbox-group3" class="container">
      <p class="m-0 fw-bold">MAIN TASTES (2):</p>
      <div name="salty-taste" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SALTY</label>
      </div>
      <div name="bitter-taste" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">BITTER</label>
      </div>
      <br />
      <div name="sour-taste" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SOUR</label>
      </div>
      <div name="umami-taste" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">UMAMI</label>
      </div>
      <br />
      <div name="sweet-taste" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
        <label class="form-check-label" for="inlineCheckbox2">SWEET</label>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
