<%- include("partials/header.ejs") %>

<form name="combinedForm" action="/form" method="POST">
  <div class="container my-3">
    <section name="formHeader">
      <div class="row my-1 gap-1">
        <div class="col-8 border">
          <p class="formTitleSubtext">SCA Coffee Value Assessment</p>
          <p class="formTitle">Combined Form</p>
        </div>
        <div class="col border">
          <img
            class="img SCA-logo"
            style="max-width: 200px"
            src="https://images.squarespace-cdn.com/content/v1/584f6bbef5e23149e5522201/1585137262099-VOUGJUSB290Z3UZCBAGP/SCA_logo_header.jpg"
            alt="Specialty Coffee Association"
          />
        </div>
      </div>
    </section>
    <section name="cupInfo">
      <div class="row gap-1">
        <div class="col-8 border">
          <div class="row my-1">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="name"
                name="cupperName"
                placeholder="Name"
                aria-label="Name"
              />
            </div>
            <div class="col">
              <input type="date" class="form-control" id="date" name="cuppingDate" aria-label="Date" />
            </div>
          </div>
          <div class="row my-1">
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="purpose"
                name="purpose"
                placeholder="Purpose"
                aria-label="Purpose"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="coffeeID"
                name="coffeeID"
                placeholder="Sample Id"
                aria-label="Sample Id"
              />
            </div>
          </div>
        </div>
        <div class="col border">
          <section name="Impression of Quality">
            <span class="impressionTitle">IMPRESSION OF QUALITY</span>
            <div class="row">
              <div class="col impressiontext">1 Extremely Low</div>
              <div class="col impressiontext">4 Slightly Low</div>
              <div class="col impressiontext">7 Moderately High</div>
            </div>
            <div class="row">
              <div class="col impressiontext">2 Very Low</div>
              <div class="col impressiontext">5 Neither High Nor Low</div>
              <div class="col impressiontext">8 Very High</div>
            </div>
            <div class="row">
              <div class="col impressiontext">3 Moderately Low</div>
              <div class="col impressiontext">6 Slightly High</div>
              <div class="col impressiontext">9 Extremely High</div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section name="sectionTitle">
      <div class="row my-1 gap-1">
        <div class="col-8 bg-dark text-white border">PART 1: SENSORY DESCRIPTIVE ASSESSMENT</div>
        <div class="col bg-dark text-white border">PART 2: AFFECTIVE ASSESSMENT</div>
      </div>
    </section>
    <section name="fragrance">
      <div class="row my-1 gap-1">
        <div class="col-8 border">
          <div class="d-flex justify-content-center align-items-center" name="fragranceBox">
            <div class="col-lg-2" name="fragrance">
              <div class="text">
                <p class="rangeTitle m-0">Fragrance</p>
                <p class="rangeSubtitle m-0">Intensity</p>
              </div>
            </div>
            <div class="container col-9">
              <div class="scale-labels d-flex justify-content-around mt-1">
                <span>LOW</span>
                <span>MEDIUM</span>
                <span>HIGH</span>
              </div>
              <input
                type="range"
                class="form-range"
                name="fragranceIntensity"
                min="0"
                max="15"
                step="1"
                id="fragranceRange"
              />
              <div class="scale-labels d-flex justify-content-between align-items-center">
                <span>0</span>
                <span>5</span>
                <span>10</span>
                <span>15</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center" name="aromaBox">
            <div class="col-lg-2" name="aroma">
              <div class="text">
                <p class="rangeTitle m-0">Aroma</p>
                <p class="rangeSubtitle m-0">Intensity</p>
              </div>
            </div>
            <div class="container col-9">
              <div class="scale-labels d-flex justify-content-around mt-1">
                <span>LOW</span>
                <span>MEDIUM</span>
                <span>HIGH</span>
              </div>
              <input type="range" class="form-range" name="aromaIntensity" min="0" max="15" step="1" id="aromaRange" />
              <div class="scale-labels d-flex justify-content-between align-items-center">
                <span>0</span>
                <span>5</span>
                <span>10</span>
                <span>15</span>
              </div>
            </div>
          </div>
          <hr />
          <div class="mb-2" name="fragranceCheckboxes">
            <div name="checkbox-group1">
              <fieldset>
                <legend>SELECT UP TO 5 THAT APPLY:</legend>
                <div class="form-check">
                  <input class="form-check-input" id="floral_1" name="smellCharacter" type="checkbox" value="floral" />
                  <label class="form-check-label" for="floral_1">FLORAL</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="fruity_1" name="smellCharacter" type="checkbox" value="fruity" />
                  <label class="form-check-label" for="fruity_1">FRUITY </label>
                </div>
                <span>(</span>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="berry_1" name="smellCharacter" type="checkbox" value="berry" />
                  <label class="form-check-label checklabels" for="berry_1">BERRY</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    id="driedfruit_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="dried fruit"
                  />
                  <label class="form-check-label checklabels" for="driedfruit_1">DRIED FRUIT</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    id="citrusfruit_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="citrus fruit"
                  />
                  <label class="form-check-label checklabels" for="citrusfruit_1">CITRUS FRUIT )</label>
                </div>
                <br />
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    id="sour_fermented_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="sour/fermented"
                  />
                  <label class="form-check-label checklabels" for="sour_fermented_1">SOUR/FERMENTED</label>
                </div>
                <span>( </span>
                <div name="sour" class="form-check form-check-inline">
                  <input class="form-check-input" id="sour_1" name="smellCharacter" type="checkbox" value="sour" />
                  <label class="form-check-label" for="sour_1">SOUR</label>
                </div>
                <div name="fermented" class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    id="fermented_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="fermented"
                  />
                  <label class="form-check-label" for="fermented_1">FERMENTED )</label>
                </div>
                <div name="green-vegetative" class="form-check">
                  <input
                    class="form-check-input"
                    id="green_vegetative_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="green/vegetative"
                  />
                  <label class="form-check-label" for="green_vegetative_1">GREEN/VEGETATIVE</label>
                </div>
                <div name="fruity" class="form-check form-check-inline">
                  <input class="form-check-input" id="other_1" name="smellCharacter" type="checkbox" value="other" />
                  <label class="form-check-label" for="other_1">OTHER</label>
                </div>
                <span>( </span>
                <div name="chemical" class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    id="chemical_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="chemical"
                  />
                  <label class="form-check-label" for="chemical_1">CHEMICAL</label>
                </div>
                <div name="musty-earthy" class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    id="musty_earthy_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="musty/earthy"
                  />
                  <label class="form-check-label" for="musty_earthy_1">MUSTY/EARTHY</label>
                </div>
                <div name="papery" class="form-check form-check-inline">
                  <input class="form-check-input" id="papery_1" name="smellCharacter" type="checkbox" value="papery" />
                  <label class="form-check-label" for="papery_1">PAPERY )</label>
                </div>
                <div name="roasted" class="form-check">
                  <input
                    class="form-check-input"
                    id="roasted_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="roasted"
                  />
                  <label class="form-check-label" for="roasted_1">ROASTED</label>
                </div>
                <div name="nutty-cocoa" class="form-check form-check-inline fs-6">
                  <input
                    class="form-check-input"
                    id="nutty_cocoa_1"
                    name="smellCharacter"
                    type="checkbox"
                    value="nutty/cocoa"
                  />
                  <label class="form-check-label" for="nutty_cocoa_1">NUTTY/COCOA</label>
                </div>
                <span>( </span>
                <div name="nutty" class="form-check form-check-inline">
                  <input class="form-check-input" id="nutty_1" name="smellCharacter" type="checkbox" value="nutty" />
                  <label class="form-check-label" for="nutty_1">NUTTY</label>
                </div>
                <div name="cocoa" class="form-check form-check-inline">
                  <input class="form-check-input" id="cocoa_1" name="smellCharacter" type="checkbox" value="cocoa" />
                  <label class="form-check-label" for="cocoa_1">COCOA )</label>
                </div>
                <div name="spicy" class="form-check">
                  <input class="form-check-input" id="spicy_1" name="smellCharacter" type="checkbox" value="spicy" />
                  <label class="form-check-label" for="spicy_1">SPICY</label>
                </div>
                <div name="sweet" class="form-check form-check-inline">
                  <input class="form-check-input" id="sweet_1" name="smellCharacter" type="checkbox" value="sweet" />
                  <label class="form-check-label" for="sweet_1">SWEET</label>
                </div>
                <span>( </span>
                <div name="vanilla" class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    id="vanilla_vanillin_1"
                    name="taste"
                    type="checkbox"
                    value="vanilla/vanillin"
                  />
                  <label class="form-check-label" for="vanilla_vanillin_1">VANILLA/VANILLIN</label>
                </div>
                <div name="brown-sugar" class="form-check form-check-inline">
                  <input class="form-check-input" id="brownsugar_1" name="taste" type="checkbox" value="brown sugar" />
                  <label class="form-check-label" for="brownsugar_1">BROWN SUGAR )</label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col border">
          <div class="container">
            <fieldset name="fragranceScoreBoxes">
              <div class="form-check form-check-inline my-4">
                <input class="form-check-input" type="checkbox" id="fragrance1" name="fragranceScore" value="1" />
                <label class="form-check-label" for="1_1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance2" name="fragranceScore" value="2" />
                <label class="form-check-label" for="fragrance2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance3" name="fragranceScore" value="3" />
                <label class="form-check-label" for="fragrance3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance4" name="fragranceScore" value="4" />
                <label class="form-check-label" for="fragrance4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance5" name="fragranceScore" value="5" />
                <label class="form-check-label" for="fragrance5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance6" name="fragranceScore" value="6" />
                <label class="form-check-label" for="fragrance6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance7" name="fragranceScore" value="7" />
                <label class="form-check-label" for="fragrance7">7</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance8" name="fragranceScore" value="8" />
                <label class="form-check-label" for="fragrance8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="fragrance9" name="fragranceScore" value="9" />
                <label class="form-check-label" for="fragrance9">9</label>
              </div>
              <input
                type="number"
                class="finalScore"
                name="fragranceFinalScore"
                id="fragrancefinalScore"
                placeholder="FINAL"
                min="1"
                max="9"
                required
              />
            </fieldset>
            <fieldset name="aromaScoreBoxes">
              <div class="form-check form-check-inline my-4">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma1" value="1" />
                <label class="form-check-label" for="aroma1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma2" value="2" />
                <label class="form-check-label" for="aroma2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma3" value="3" />
                <label class="form-check-label" for="aroma3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma4" value="4" />
                <label class="form-check-label" for="aroma4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma5" value="5" />
                <label class="form-check-label" for="aroma5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma6" value="6" />
                <label class="form-check-label" for="aroma6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma7" value="7" />
                <label class="form-check-label" for="aroma7">7</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma8" value="option2" />
                <label class="form-check-label" for="aroma8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aromaScore" id="aroma9" value="option1" />
                <label class="form-check-label" for="aroma9">9</label>
              </div>
              <input
                type="number"
                class="finalScore"
                name="aromaFinalScore"
                id="aromafinalScore"
                placeholder="FINAL"
                min="1"
                max="9"
                required
              />
            </fieldset>
          </div>
          <hr />
          <div name="smellNotes" class="container d-flex mb-2">
            <textarea
              class="form-control"
              name="smellNotes"
              placeholder="Type fragrance/aroma notes here..."
              aria-label="With textarea"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div>
    </section>
    <section name="flavor">
      <div class="row my-1 gap-1">
        <div class="col-8 border">
          <div class="d-flex justify-content-center align-items-center" name="flavorBox">
            <div class="col-lg-2" name="flavor">
              <div class="text">
                <p class="fs-5 fw-bold m-0">Flavor</p>
                <p class="fs-6 fw-bold m-0">Intensity</p>
              </div>
            </div>
            <div class="container col-9">
              <div class="scale-labels d-flex justify-content-around mt-1">
                <span>LOW</span>
                <span>MEDIUM</span>
                <span>HIGH</span>
              </div>
              <input
                type="range"
                class="form-range"
                name="flavorIntensity"
                min="0"
                max="15"
                step="1"
                id="flavorRange"
              />
              <div class="scale-labels d-flex justify-content-between align-items-center">
                <span>0</span>
                <span>5</span>
                <span>10</span>
                <span>15</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center" name="aftertasteBox">
            <div class="col-lg-2" name="aftertaste">
              <div class="text">
                <p class="fs-5 fw-bold m-0">Aftertaste</p>
                <p class="fs-6 fw-bold m-0">Intensity</p>
              </div>
            </div>
            <div class="container col-9">
              <div class="scale-labels d-flex justify-content-around mt-1">
                <span>LOW</span>
                <span>MEDIUM</span>
                <span>HIGH</span>
              </div>
              <input
                type="range"
                class="form-range"
                name="aftertasteIntensity"
                min="0"
                max="15"
                step="1"
                id="aftertasteRange"
              />
              <div class="scale-labels d-flex justify-content-between align-items-center">
                <span>0</span>
                <span>5</span>
                <span>10</span>
                <span>15</span>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <div name="checkbox-group2">
                <fieldset name="flavorCheckboxes">
                  <legend>SELECT UP TO FIVE THAT APPLY:</legend>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      id="floral_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="floral"
                    />
                    <label class="form-check-label" for="floral_2">FLORAL</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="fruity_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="fruity"
                    />
                    <label class="form-check-label" for="fruity_2">FRUITY </label>
                  </div>
                  <span>(</span>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="berry_2" name="flavorCharacter" type="checkbox" value="berry" />
                    <label class="form-check-label" for="berry_2">BERRY</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="driedfruit_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="dried fruit"
                    />
                    <label class="form-check-label" for="driedfruit_2">DRIED FRUIT</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="citrusfruit_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="citrus fruit"
                    />
                    <label class="form-check-label" for="citrusfruit_2">CITRUS FRUIT )</label>
                  </div>
                  <br />
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="sour_fermented_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="sour/fermented"
                    />
                    <label class="form-check-label" for="sour_fermented_2">SOUR/FERMENTED</label>
                  </div>
                  <span>( </span>
                  <div name="sour" class="form-check form-check-inline">
                    <input class="form-check-input" id="sour_2" name="flavorCharacter" type="checkbox" value="sour" />
                    <label class="form-check-label" for="sour_2">SOUR</label>
                  </div>
                  <div name="fermented" class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="fermented_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="fermented"
                    />
                    <label class="form-check-label" for="fermented_2">FERMENTED )</label>
                  </div>
                  <div name="green-vegetative" class="form-check">
                    <input
                      class="form-check-input"
                      id="green_vegetative_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="green/vegetative"
                    />
                    <label class="form-check-label" for="green_vegetative_2">GREEN/VEGETATIVE</label>
                  </div>
                  <div name="fruity" class="form-check form-check-inline">
                    <input class="form-check-input" id="other_2" name="flavorCharacter" type="checkbox" value="other" />
                    <label class="form-check-label" for="other_2">OTHER</label>
                  </div>
                  <span>( </span>
                  <div name="chemical" class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="chemical_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="chemical"
                    />
                    <label class="form-check-label" for="chemical_2">CHEMICAL</label>
                  </div>
                  <div name="musty-earthy" class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="musty_earthy_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="musty/earthy"
                    />
                    <label class="form-check-label" for="musty_earthy_2">MUSTY/EARTHY</label>
                  </div>
                  <div name="papery" class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="papery_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="papery"
                    />
                    <label class="form-check-label" for="papery_2">PAPERY )</label>
                  </div>
                  <div name="roasted" class="form-check">
                    <input
                      class="form-check-input"
                      id="roasted_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="roasted"
                    />
                    <label class="form-check-label" for="roasted_2">ROASTED</label>
                  </div>
                  <div name="nutty-cocoa" class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="nutty_cocoa_2"
                      name="flavorCharacter"
                      type="checkbox"
                      value="nutty/cocoa"
                    />
                    <label class="form-check-label" for="nutty_cocoa_2">NUTTY/COCOA</label>
                  </div>
                  <span>( </span>
                  <div name="nutty" class="form-check form-check-inline">
                    <input class="form-check-input" id="nutty_2" name="flavorCharacter" type="checkbox" value="nutty" />
                    <label class="form-check-label" for="nutty_2">NUTTY</label>
                  </div>
                  <div name="cocoa" class="form-check form-check-inline">
                    <input class="form-check-input" id="cocoa_2" name="flavorCharacter" type="checkbox" value="cocoa" />
                    <label class="form-check-label" for="cocoa_2">COCOA )</label>
                  </div>
                  <div name="spicy" class="form-check">
                    <input class="form-check-input" id="spicy_2" name="flavorCharacter" type="checkbox" value="spicy" />
                    <label class="form-check-label" for="spicy_2">SPICY</label>
                  </div>
                  <div name="sweet" class="form-check form-check-inline">
                    <input class="form-check-input" id="sweet_2" name="flavorCharacter" type="checkbox" value="sweet" />
                    <label class="form-check-label" for="sweet_2">SWEET</label>
                  </div>
                  <span>( </span>
                  <div name="vanilla" class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="vanilla_vanillin_2"
                      name="taste"
                      type="checkbox"
                      value="vanilla/vanillin"
                    />
                    <label class="form-check-label" for="vanilla_vanillin_2">VANILLA/VANILLIN</label>
                  </div>
                  <div name="brown-sugar" class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      id="brownsugar_2"
                      name="taste"
                      type="checkbox"
                      value="brown sugar"
                    />
                    <label class="form-check-label" for="brownsugar_2">BROWN SUGAR )</label>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="col-3">
              <fieldset name="tasteCheckboxes">
                <legend>MAIN TASTES (2)</legend>
                <div class="form-check">
                  <input class="form-check-input" id="salty" name="taste" type="checkbox" value="salty" />
                  <label class="form-check-label" for="salty">SALTY</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="sour" name="taste" type="checkbox" value="sour" />
                  <label class="form-check-label" for="sour">SOUR</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="sweet" name="taste" type="checkbox" value="sweet" />
                  <label class="form-check-label" for="sweet">SWEET</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="bitter" name="taste" type="checkbox" value="bitter" />
                  <label class="form-check-label" for="bitter">BITTER</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="umami" name="taste" type="checkbox" value="umami" />
                  <label class="form-check-label" for="umami">UMAMI</label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col border">
          <div name="checkbox-group3" class="container">
            <fieldset name="flavorScoreBoxes">
              <div class="form-check form-check-inline my-4">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor1" value="1" />
                <label class="form-check-label" for="flavor1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor2" value="2" />
                <label class="form-check-label" for="flavor2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor3" value="3" />
                <label class="form-check-label" for="flavor3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor4" value="4" />
                <label class="form-check-label" for="flavor4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor5" value="5" />
                <label class="form-check-label" for="flavor5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor6" value="6" />
                <label class="form-check-label" for="flavor6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor7" value="7" />
                <label class="form-check-label" for="flavor7">7</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor8" value="8" />
                <label class="form-check-label" for="flavor8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="flavorScore" id="flavor9" value="9" />
                <label class="form-check-label" for="flavor9">9</label>
              </div>
              <input
                type="number"
                class="finalScore"
                name="flavorFinalScore"
                id="flavorfinalScore"
                placeholder="FINAL"
                min="1"
                max="9"
                required
              />
            </fieldset>
            <fieldset name="aftertasteScoreBoxes">
              <div class="form-check form-check-inline my-4">
                <input class="form-check-input" type="checkbox" name="aftertasteScore" id="aftertaste1" value="1" />
                <label class="form-check-label" for="aftertaste1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aftertasteScore" id="aftertaste2" value="2" />
                <label class="form-check-label" for="aftertaste2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aftertasteScore" id="aftertaste3" value="3" />
                <label class="form-check-label" for="aftertaste3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aftertasteScore" id="aftertaste4" value="4" />
                <label class="form-check-label" for="aftertaste4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aftertasteScore" id="aftertaste5" value="5" />
                <label class="form-check-label" for="aftertaste5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aftertasteScore" id="aftertaste6" value="6" />
                <label class="form-check-label" for="aftertaste6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="aftertasteScore" id="aftertaste7" value="7" />
                <label class="form-check-label" for="aftertaste7">7</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="aftertasteScore"
                  id="aftertaste8"
                  value="option2"
                />
                <label class="form-check-label" for="aftertaste8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="aftertasteScore"
                  id="aftertaste9"
                  value="option1"
                />
                <label class="form-check-label" for="aftertaste9">9</label>
              </div>
              <input
                type="number"
                class="finalScore"
                name="aftertasteFinalScore"
                id="aftertastefinalScore"
                placeholder="FINAL"
                min="1"
                max="9"
                required
              />
            </fieldset>
          </div>
          <hr />
          <div class="container d-flex mb-2">
            <textarea
              class="form-control"
              name="tasteNotes"
              placeholder="Type flavor/aftertaste notes here..."
              aria-label="With textarea"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div>
    </section>
    <section name="acidity">
      <div class="row my-1 gap-1">
        <div class="col-8 border">
          <div class="acidity-container d-flex justify-content-center align-items-center">
            <div class="col-lg-2" name="fragrance">
              <div class="text">
                <p class="fs-5 fw-bold m-0">Acidity</p>
                <p class="fs-6 fw-bold m-0">Intensity</p>
              </div>
            </div>
            <div class="container col-9">
              <div class="scale-labels d-flex justify-content-around mt-1">
                <span>LOW</span>
                <span>MEDIUM</span>
                <span>HIGH</span>
              </div>
              <input type="range" class="form-range" name="acidIntensity" min="0" max="15" step="1" id="acidRange" />
              <div class="scale-labels d-flex justify-content-between align-items-center">
                <span>0</span>
                <span>5</span>
                <span>10</span>
                <span>15</span>
              </div>
            </div>
          </div>
          <hr />
          <div name="acidCheckboxes" class="container d-flex mb-2">
            <div name="checkbox-group1" class="container">
              <p class="fw-bold my-0">SELECT ONE:</p>
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="acidityCharacter"
                  id="acidityDry"
                  type="checkbox"
                  value="dry acidity (herby, grassy, tart)"
                />
                <label class="form-check-label" for="acidityDry">DRY ACIDITY (HERBY, GRASSY, TART)</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="acidityCharacter"
                  id="aciditySweet"
                  type="checkbox"
                  value="sweet acidity (juicy, fruit-like, bright)"
                />
                <label class="form-check-label" for="aciditySweet">SWEET ACIDITY (JUICY, FRUIT-LIKE, BRIGHT)</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col border">
          <div name="acidityCheckboxes" class="container my-4">
            <fieldset name="acidityScoreBoxes">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity1" value="1" />
                <label class="form-check-label" for="acidity1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity2" value="2" />
                <label class="form-check-label" for="acidity2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity3" value="3" />
                <label class="form-check-label" for="acidity3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity4" value="4" />
                <label class="form-check-label" for="acidity4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity5" value="5" />
                <label class="form-check-label" for="acidity5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity6" value="6" />
                <label class="form-check-label" for="acidity6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity7" value="7" />
                <label class="form-check-label" for="acidity7">7</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity8" value="8" />
                <label class="form-check-label" for="acidity8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="acidityScore" id="acidity9" value="9" />
                <label class="form-check-label" for="acidity9">9</label>
              </div>
              <input
                type="number"
                class="finalScore"
                name="acidityFinalScore"
                id="flavorfinalScore"
                placeholder="FINAL"
                min="1"
                max="9"
                required
              />
            </fieldset>
          </div>
          <hr />
          <div class="container d-flex mb-2">
            <textarea
              class="form-control"
              name="acidityNotes"
              placeholder="Type acidity notes here..."
              aria-label="With textarea"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
    </section>
    <section name="sweetness">
      <div class="row my-1 gap-1" name="sweetnessSection">
        <div class="col-8 border">
          <div class="d-flex justify-content-center align-items-center">
            <div class="col-lg-2" name="sweetness">
              <div class="text">
                <p class="fs-5 fw-bold m-0">Sweetness</p>
                <p class="fs-6 fw-bold m-0">Intensity</p>
              </div>
            </div>
            <div class="container col-9">
              <div class="scale-labels d-flex justify-content-around mt-1">
                <span>LOW</span>
                <span>MEDIUM</span>
                <span>HIGH</span>
              </div>
              <input
                type="range"
                class="form-range"
                name="sweetnessIntensity"
                min="0"
                max="15"
                step="1"
                id="sweetnessRange"
              />
              <div class="scale-labels d-flex justify-content-between align-items-center">
                <span>0</span>
                <span>5</span>
                <span>10</span>
                <span>15</span>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="col border">
          <div name="sweetnessCheckboxes" class="container my-4">
            <fieldset name="sweetnessScoreBoxes">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness1" value="1" />
                <label class="form-check-label" for="sweetness1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness2" value="2" />
                <label class="form-check-label" for="sweetness2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness3" value="3" />
                <label class="form-check-label" for="sweetness3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness4" value="4" />
                <label class="form-check-label" for="sweetness4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness5" value="5" />
                <label class="form-check-label" for="sweetness5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness6" value="6" />
                <label class="form-check-label" for="sweetness6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness7" value="7" />
                <label class="form-check-label" for="sweetness7">7</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness8" value="8" />
                <label class="form-check-label" for="sweetness8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="sweetnessScore" id="sweetness9" value="9" />
                <label class="form-check-label" for="sweetness9">9</label>
              </div>
              <input
                type="number"
                class="finalScore"
                name="sweetnessFinalScore"
                id="sweetnessfinalScore"
                placeholder="FINAL"
                min="1"
                max="9"
                required
              />
            </fieldset>
          </div>
          <hr />
          <div class="container d-flex mb-2">
            <textarea
              class="form-control"
              name="sweetnessNotes"
              placeholder="Type sweetness notes here..."
              aria-label="With textarea"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
    </section>
    <section name="mouthfeel">
      <div class="row my-1 gap-1">
        <div class="col-8 border">
          <div class="d-flex justify-content-center align-items-center">
            <div class="col-lg-2" name="fragrance">
              <div class="text">
                <p class="fs-5 fw-bold m-0">Mouthfeel</p>
                <p class="fs-6 fw-bold m-0">Intensity</p>
              </div>
            </div>
            <div class="container col-9">
              <div class="scale-labels d-flex justify-content-around mt-1">
                <span>LOW</span>
                <span>MEDIUM</span>
                <span>HIGH</span>
              </div>
              <input
                type="range"
                class="form-range"
                name="mouthfeelIntensity"
                min="0"
                max="15"
                step="1"
                id="mouthfeelRange"
              />
              <div class="scale-labels d-flex justify-content-between align-items-center">
                <span>0</span>
                <span>5</span>
                <span>10</span>
                <span>15</span>
              </div>
            </div>
          </div>
          <hr />
          <div name="mouthfeelCheckboxes" class="container d-flex mb-2">
            <div class="container">
              <fieldset>
                <legend>SELECT UP TO TWO:</legend>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="mouthfeelCharacter"
                    id="mouthfeel_rough"
                    value="rough (gritty, chalky, sandy)"
                  />
                  <label class="form-check-label" for="mouthfeel_rough">ROUGH (GRITTY, CHALKY, SANDY)</label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="mouthfeelCharacter"
                    id="mouthfeel_oily"
                    value="oily"
                  />
                  <label class="form-check-label" for="mouthfeel_oily">OILY</label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="mouthfeelCharacter"
                    id="mouthfeel_smooth"
                    value="smooth (velvety, silky, syrupy)"
                  />
                  <label class="form-check-label" for="mouthfeel_smooth">SMOOTH (VELVETY, SILKY, SYRUPY)</label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="mouthfeelCharacter"
                    id="mouthfeel_drying"
                    value="mouth-drying"
                  />
                  <label class="form-check-label" for="mouthfeel_drying">MOUTH-DRYING</label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="mouthfeelCharacter"
                    id="mouthfeel_metallic"
                    value="metallic"
                  />
                  <label class="form-check-label" for="mouthfeel_metallic">METALLIC</label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col border">
          <div name="mouthfeelCheckboxes" class="container my-4">
            <fieldset name="mouthfeelScoreBoxes">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel1" value="1" />
                <label class="form-check-label" for="mouthfeel1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel2" value="2" />
                <label class="form-check-label" for="mouthfeel2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel3" value="3" />
                <label class="form-check-label" for="mouthfeel3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel4" value="4" />
                <label class="form-check-label" for="mouthfeel4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel5" value="5" />
                <label class="form-check-label" for="mouthfeel5">5</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel6" value="6" />
                <label class="form-check-label" for="mouthfeel6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel7" value="7" />
                <label class="form-check-label" for="mouthfeel7">7</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel8" value="8" />
                <label class="form-check-label" for="mouthfeel8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="mouthfeelScore" id="mouthfeel9" value="9" />
                <label class="form-check-label" for="mouthfeel9">9</label>
              </div>
              <input
                type="number"
                class="finalScore"
                name="mouthfeelFinalScore"
                id="mouthfeelfinalScore"
                placeholder="FINAL"
                min="1"
                max="9"
                required
              />
            </fieldset>
          </div>
          <hr />
          <div class="container d-flex mb-2">
            <textarea
              class="form-control"
              name="mouthfeelNotes"
              placeholder="Type mouthfeel notes here..."
              aria-label="With textarea"
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
    </section>
    <section name="overall">
      <div class="row my-1 gap-1">
        <div class="col-8 p-0">
          <span class="input-group-text bg-dark text-white">PART 3: EXTRINSIC ASSESSMENT</span>
          <div class="input-group">
            <textarea
              class="form-control"
              name="extrinsicNotes"
              placeholder="Type noteable extrinsic features here.  May include:

            Identity Information (Country, Region, Farm, Co-op, Producer, Variety, ICO Number, etc)

            Processing Information (Processor, Wet mill name, Dry mill Name, Process type, etc)

            Grading Information (Size grade [AA, Supremo, etc.], Other grad [EP, SHG, SHB, etc.])
            
            Sustainability Certifications (Rainforest Alliance, Organic, Fair Trade, SMBC Bird Friendly, 4C, etc.)"
              aria-label="With textarea"
              rows="10"
            ></textarea>
          </div>
        </div>
        <div class="col border">
          <p>OVERALL</p>
          <div class="row">
            <div class="col">
              <div name="overallCheckboxes" class="container">
                <fieldset name="overallScoreBoxes">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall1" value="1" />
                    <label class="form-check-label" for="overall1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall2" value="2" />
                    <label class="form-check-label" for="overall2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall3" value="3" />
                    <label class="form-check-label" for="overall3">3</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall4" value="4" />
                    <label class="form-check-label" for="overall4">4</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall5" value="5" />
                    <label class="form-check-label" for="overall5">5</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall6" value="6" />
                    <label class="form-check-label" for="overall6">6</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall7" value="7" />
                    <label class="form-check-label" for="overall7">7</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall8" value="8" />
                    <label class="form-check-label" for="overall8">8</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="overallScore" id="overall9" value="9" />
                    <label class="form-check-label" for="overall9">9</label>
                  </div>
                  <input
                    type="number"
                    class="finalScore"
                    name="overallFinalScore"
                    id="overallfinalScore"
                    placeholder="FINAL"
                    min="1"
                    max="9"
                    required
                  />
                </fieldset>
              </div>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <p>NON-UNIFORM CUPS</p>
                  <div class="form-check form-check-inline mr-0">
                    <input class="form-check-input" type="checkbox" name="nonuniformCup" id="nonuniform1" value="1" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="nonuniformCup" id="nonuniform2" value="2" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="nonuniformCup" id="nonuniform3" value="3" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="nonuniformCup" id="nonuniform4" value="4" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="nonuniformCup" id="nonuniform5" value="5" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>DEFECTIVE CUPS</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="defectCup" id="defect1" value="1" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="defectCup" id="defect2" value="2" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="defectCup" id="defect3" value="3" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="defectCup" id="defect4" value="4" />
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="defectCup" id="defect5" value="5" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <p>DEFECT (IF ANY)</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="defectType" id="moldy" value="moldy" />
                <label class="form-check-label" for="moldy">MOLDY</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="defectType" id="phenolic" value="phenolic" />
                <label class="form-check-label" for="phenolic">PHENOLIC</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="defectType" id="potato" value="potato" />
                <label class="form-check-label" for="potato">POTATO</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container d-flex justify-content-center mb-2">
    <input class="btn btn-light" type="submit" value="Submit" />
  </div>
</form>

<%- include("partials/footer.ejs") %>
