img.SCA-logo {
  max-width: 50;
}

p {
  margin-top: auto;
  margin-bottom: 1;
}

.button {
  font-size: 1.25rem;
  font-weight: 300;
}

.formTitle {
  font-size: 2.5rem;
  font-weight: bolder;
}

.formTitleSubtext {
  font-size: 1.25rem;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}

.impressiontext {
  font-size: 12px;
}

.impressionTitle {
  font-weight: bold;
  font-size: 12px;
}

.rangeTitle {
  font-size: 18px;
  font-weight: bold;
}

.rangeSubtitle {
  font-size: 12px;
  font-weight: bold;
}
.scale-labels {
  font-weight: bold;
  font-size: 12px;
}

hr {
  margin: 8px;
}

.form-check-label {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.form-check-input {
  padding-left: 12px;
}

.form-check {
  margin-right: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Remove the spinner from the number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.finalScore {
  font-size: 0.75rem;
  height: 24px;
  border-radius: 1rem;
  text-align: center;
  width: 3rem;
  margin-left: 10px;
}

fieldset legend {
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
}
