img.SCA-logo {
  max-width: 50;
}

p {
  margin-top: auto;
  margin-bottom: 1;
}

.formTitle {
  font-size: 2.5rem;
  font-weight: bolder;
}

.formTitleSubtext {
  font-size: 1.25rem;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}

.impressiontext {
  font-size: 12px;
}

.impressionTitle {
  font-weight: bold;
  font-size: 12px;
}

.scale-labels {
  font-weight: bold;
  font-size: 12px;
}

.form-check-label {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.form-check-input {
  padding-left: 12px;
}

.form-check {
  margin-right: 0px;
  margin-top: 0px;
}
